# EditorConfig for Node.js Projects

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 2-space indentation for JavaScript and JSON files
[*.{js,json}]
indent_style = space
indent_size = 2

# Trailing whitespace should be trimmed
[*.{js,json}]
trim_trailing_whitespace = true
